@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Jenkins</h1>
    <p class="lead">The leading open source automation server, Jenkins provides hundreds of plugins to support building, deploying and automating any project.</p>
    <p><a href="https://www.jenkins.io/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
